
/*Global styles*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;

}

html {
	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 300;
}

body {
	width: 100%;
	/*background: #6b75d6;*/
	
}

.wrapper {
	max-width: 1140px;
	margin: 0 auto;

}

h1, h2, p, li, a {
	color: white;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

h1, h2 {
	font-weight: 300;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
	text-align: center;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}



/*---NAV STYLES---*/

#navbar {
	/*background: #6bd6cb;*/
	background: #f2eee2;

}

nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-bottom: #57bc90;
}

nav a {
	display: inline;
	padding: 0 2em;
	font-size: 1.15em;
	color: #015249;
}

nav a:hover {
	/*color: #068471;*/
	color: #07ba9b;
}

/*---HEADER STYLES---*/

header {
	/*border: 2px solid orange;*/
	margin: 100px 0;
	text-align: center;
	height: 100vh;	
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* background: #57bc90; */
	background-image: linear-gradient(to bottom right, #77c9d4, #57bc90, #015249);
}

header img {
	border-radius: 50%;
	border: 1px solid black;
	margin: 40px auto 0 auto;
}

header p {
	margin: 30px auto 0 auto;
	font-size: 1.4em;
}

.icons {
	margin: 30px;
	/*border: 2px solid orange;*/
}

.icons a {
	padding: 15px;
}

#welcome-section {
	/*height: 100vh;*/
}


/*---PROJECT STYLES---*/

.section-projects {
	border: 2px solid orange;
	margin: 100px auto;
	background: #ff5992;
}

.section-projects h2 {
	text-align: center;
	margin: 50px;
}

.section-projects div:last-child {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.section-projects a {
	padding-bottom: 80px;
}


.project-tile {
	text-align: center;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;

}

.section-projects img {
	width: 100%;
	height: auto;
	border: 2px solid orange;

}



/*---CONTACT STYLES---*/

#contact {
	border: 2px solid orange;
	background: #6c648b;
}


/*---MEDIA QUERIES---*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	h1 {
		font-size: 2rem;
		
	}

	nav {
		display: flex;
		justify-content: space-evenly;
	}

	nav a {
		padding: 0;
		margin: 0;
	}

}