
/*Global styles*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;

}

html {
	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 20px;
    text-rendering: optimizeLegibility;
}


.wrapper {
	max-width: 1140px;
	margin: 0 auto;

}

h1, h2, p, li, a {
	color: #fff;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

h1 {
	font-weight: 300;
    font-size: 3rem;
    letter-spacing: 1px;
    word-spacing: 4px;
}


h2 {
	font-size: 2rem;
	text-align: center;
    color: #444649;
    margin-bottom: 60px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 3px;
    background-color: #444649;
    content: "";
    width: 80px;
    margin: 20px auto;  
}

p {
    font-weight: 300;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}


section {
    padding: 40px 0;
}


/*---NAV STYLES---*/

.main-nav {
	width: 100%;
    padding-top: 80px;
    text-align: right;

}

.main-nav a:link, 
.main-nav a:visited {
	display: inline-block;
	padding: 4px 0;
    margin-left: 40px;
	font-size: 1.15em;
    border-bottom: 2px solid transparent;
    transition: color 0.4s, border-bottom 0.4s;
}

.main-nav a:hover,
.main-nav a:active {
	color: #0cc4cb;
    border-bottom: 2px solid #0cc4cb;
}

/*---HEADER STYLES---*/


header {
	height: 100vh;	
	background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/coding_bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header img {
	border-radius: 50%;
	border: 1px solid black;
	margin: 40px auto;
}

header p {
	margin: 30px auto 0 auto;
	font-size: 1.4em;
}

.welcome-box {
    position: absolute;
    left: 19%;
    top: 24%;
    width: 1140px;
    display: grid;
    grid-template-columns: 350px 1fr;
}

.welcome-info {
    text-align: left;
    margin: 60px 0 0 30px;
    padding-left: 1%;
}

.icons {
	margin: 60px 0;
}

.icons a {
	padding-right: 15px;
}

.fa-github:hover,
.fa-github:active {
    color: #a53bf2;
}

.fa-linkedin:hover,
.fa-linkedin:active {
    color: #007bb5;
}

.fa-free-code-camp:hover,
.fa-free-code-camp:active {
    color: rgb(9, 221, 9);
}

.fa-github,
.fa-linkedin,
.fa-free-code-camp {
    transition: color 0.2s;
}



.btn:link,
.btn:visited {
    display: inline-block;
    padding: 12px 25px;
    border-radius: 200px;
    transition: background-color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    border: 1px solid #0cc4cb;
    background-color: #0cc4cb;
    transition: background-color 0.2s, border 0.2s;
}

.btn-full:hover,
.btn-full:active {
    background-color: #06868b;
    border: 1px solid #06868b;
}

.welcome-info span {
    margin-right: 15px;
}

.welcome-info div:last-child a {
    margin-right: 20px;
}


/*---PROJECT STYLES---*/


.section-projects div:last-child {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.section-projects div {
	margin-bottom: 80px;
}


/*
.project-tile {
	text-align: center;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;

}
*/

.section-projects img {
	width: 100%;
	height: auto;
/*	border: 2px solid orange;*/
}



/*---CONTACT STYLES---*/

.section-contact {
	background: #f5f5f5;
}


.section-contact p {
    color: #04cdd4;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
    font-size: 110%;
    line-height: 40px;
}



form div{
    display: flex;
    flex-direction: column;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input-container i {
    background: #04cdd4;
    color: #fff;
    position: absolute;
    left: 25%;
    top: 5px;
    padding: 9px 8px;
    border-radius: 4px 0 0 4px;
    transition: 0.3s;

}

.fa-pen {
    min-height: 95%;
}


form div:first-child i {
    padding: 9px 9.4px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 50%;
    margin: 4px 0;
    padding: 8px 8px 8px 45px;
    font-family: 'Lato', Helvetica, sans-serif;
}

textarea {
    height: 160px;
    resize: none;     
}

.submit {
    padding: 10px 20px;
    width: 100px;
    margin: 25px auto 50px;
    border-radius: 200px;
    background-color: #04cdd4;
    color: #fff;
    transition: background-color 0.2s;
}

.submit:hover {
    background-color: #07a9af;
    cursor: pointer;
}


.form-messages {
    width: 40%;
    margin: 0 auto 20px;
    padding: 10px;
    border-radius: 3px;
    color: #333;
}

.success {
    background-color: rgba(38, 191, 68, 0.8);
    
}


.error {
    background-color: rgba(209, 46, 46, 0.8)
}

/*---FOOTER STYLES---*/

footer {
    background-color: #252934;
    padding: 60px 0;
    position: relative;
}

footer div {
    display: flex;
    justify-content: center;
}

.back-to-top {
    position: absolute;
    display: inline-block;
    top: -20px;
    font-size: 180%;
    background-color: #04cdd4;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color .4s;
}

.back-to-top:hover {
    background-color: #07a9af;
}

footer div:not(:first-child) a {
    margin: 10px 15px;
    border: 2px solid #262F38;
    padding: 8px ;
    background-color: #262F38;
}

footer div:last-child {
    text-align: center;
    margin-top: 10px;
}

footer p {
    color: #7c7c7c;
    text-transform: uppercase;
    font-size: 80%;
}

/*---MEDIA QUERIES---*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	h1 {
		font-size: 2rem;
		
	}

	nav {
		display: flex;
		justify-content: space-evenly;
	}

	nav a {
		padding: 0;
		margin: 0;
	}

}