
/*Global styles*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	box-sizing: border-box;

}

html {
	font-family: 'Lato', Helvetica, sans-serif;
	font-size: 20px;
    text-rendering: optimizeLegibility;
}


.wrapper {
	max-width: 1140px;
	margin: 0 auto;

}

h1, h2, p, li, a {
	color: #fff;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

h1 {
	font-weight: 300;
    font-size: 3rem;
}


h2 {
	font-size: 2rem;
	text-align: center;
    color: #444649;
    margin-bottom: 60px;
}

h2:after {
    display: block;
    height: 3px;
    background-color: #444649;
    content: "";
    width: 80px;
    margin: 20px auto;  
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}


section {
    padding: 40px 0;
}


/*---NAV STYLES---*/

.main-nav {
	width: 100%;
    padding-top: 80px;
    text-align: right;

}

.main-nav a {
	display: inline-block;
	padding: 0 2em;
	font-size: 1.15em;
}

.main-nav a:hover {
	color: #07ba9b;
}

/*---HEADER STYLES---*/


header {
	height: 100vh;	
	background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(../img/coding_bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header img {
	border-radius: 50%;
	border: 1px solid black;
	margin: 40px auto;
}

header p {
	margin: 30px auto 0 auto;
	font-size: 1.4em;
}

.welcome-box {
    position: absolute;
    left: 19%;
    top: 24%;
    width: 1140px;
    display: grid;
    grid-template-columns: 350px 1fr;
}

.welcome-info {
    text-align: left;
    margin: 60px 0 0 30px;
    padding-left: 1%;
}

.icons {
	margin: 60px 0;
}

.icons a {
	padding-right: 15px;
}

.fa-github:hover,
.fa-github:active {
    color: #6a06b2;
}

.fa-linkedin:hover,
.fa-linkedin:active {
    color: #007bb5;
}

.fa-free-code-camp:hover,
.fa-free-code-camp:active {
    color: rgb(9, 221, 9);
}

.fa-github,
.fa-linkedin,
.fa-free-code-camp {
    transition: color 0.2s;
}



.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 200px;
    transition: background-color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    border: 1px solid #19a9ea);
    background-color: #19a9ea;
}

.btn-full:hover,
.btn-full:active {
    background-color: rgb(5, 80, 155);
    
}


/*---PROJECT STYLES---*/

.section-projects {
	
}


.section-projects div:last-child {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.section-projects a {
	padding-bottom: 80px;
}


.project-tile {
	text-align: center;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;

}

.section-projects img {
	width: 100%;
	height: auto;
	border: 2px solid orange;
}



/*---CONTACT STYLES---*/

#contact {
	background: #f5f5f5;
}


/*---MEDIA QUERIES---*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
	h1 {
		font-size: 2rem;
		
	}

	nav {
		display: flex;
		justify-content: space-evenly;
	}

	nav a {
		padding: 0;
		margin: 0;
	}

}