/*---MEDIA QUERIES---*/

/*Big tablets to 1340px (widths smaller than the 1140px row)*/

@media only screen and (max-width: 1340px) {    
    .main-nav {
        width: 90%;
    }
    
    .welcome-box {
        margin: 80px 20px;
    }
    
    h1 {
        font-size: 2.6rem;
    }    
       
}


/*Small tablets to big tablets: from 768 to 1023px*/

@media only screen and (max-width: 1023px) {    
    .my-pic {
       display: none;
    }
    
    .welcome-box {
        display: flex;
        justify-content: center;
    }
}


/* from 541 to 767px */

@media only screen and (max-width: 767px) {
    .main-nav {
        display: none;
    }
    
    h1 {
        font-size: 2.5rem;
    } 
    
    .welcome-box {
        margin: 20px;
    }
        
    input[type="text"],
    input[type="email"],
    textarea {
        width: 60%;
    }
    
    .input-container i {
        left: 15%;
    }
    
}


/*Small phones to small tablets: from 481 to 540px*/

@media only screen and (max-width: 540px) {    
    .welcome-box {
        margin: 20px;
    }
    
    h1 {
        font-size: 2.3rem;
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
        width: 80%;
    }
    
    .input-container i {
        left: 10%;
    }
    
    .img-wrapper {
        width: 100%;
    }
    
    .card {
        width: 100%;
    }
   
}


/*Small phones: from 0 to 480px*/

@media only screen and (max-width: 480px) {    
    body {
        overflow-x:hidden;
        width: 100%;
    }
    
    h2 {
        margin-top: 20px;
    }
    
    .icons {
	    margin: 40px 0;
}
    
    .projects {
        margin-bottom: 20px;
    }
    
    .card {
        margin-bottom: 10px;
        padding: 35px;
        width: 100%;
    }
    
    .img-wrapper {
        height: 250px;
    }

}
